{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Hansimes</title>

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <!--===============FAVION===================-->
    <link rel="shortcut icon" href="{% static 'images/favion.jpg' %}" type="image/x-icon">
    <!---==========================ICONSCOUT UNICONS========================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!--==========GOOGLE FONTS===============-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body id="main_content">
    <nav id="nav" class="nav_container container">
         <a href="{% url 'homeScreen' %}" class="logo">HansiMes</a>

         <!-- Navbar -->
          <ul id="navbar" class="navbar">
            <li class="nav_item">
                <a href="{% url 'homeScreen' %}" class="nav_link">Home</a>
            </li>
            <li class="nav_item">
                <a href="{% url 'aboutPage' %}" class="nav_link">About</a>
            </li>
            <li class="nav_item">
                <a href="{% url 'servicePage' %}" class="nav_link">Services</a>
            </li>
            <li class="nav_item">
                <a href="{% url 'contactPage' %}" class="nav_link">Contact Us</a>
            </li>
            <li class="nav_item">
                <a href="{% url 'loginPage' %}" class="nav_link">Login</a>
            </li>
          </ul>
    </nav>
    <!--MAIN CONTENT-->
    <main id="main" class="main col-gap 0.3rem">
        <!--LOGIN SECTION-->
        <section id="login_form" class="login_form container">
            <div class="contact_us_content contact_us_container grid">
                <form class="contact_us_form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h2 class="contact_us_title">Log in account</h2>
                    <div class="contact_us_form_group">
                        <label for="name" class="contact_us_form_label">
                            {{ form.username.label_tag }}
                        </label>
                        {{ form.username }}
                        <!-- <input type="text" id="name" name="name" class="contact_us_form_input" placeholder="Enter your name"> -->
                        <label for="password" class="contact_us_form_label">
                            {{ form.password.label_tag }}
                        </label>
                        {{ form.password }}
                        <!-- <input type="password" id="password" name="password" class="contact_us_form_input" placeholder="Enter your password"> -->
                        <button type="submit" class="contact_us_form_btn">Login</button>
                        <p class="contact_form_guide">Don`t have an account? <a href="{% url 'registrationPage' %}" class="access_btn">Sign up</a></p>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="footer_content footer_container">
            <div class="footer_links">
                <div class="footer_links_socials">
                    <p class="footer_description">Hansimes</p>
                    <a href="https://instagram.com/" class="footer_social_links">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://whatsapp.com/" class="footer_social_links">
                        <i class="ri-whatsapp-line"></i>
                    </a>
                    <a href="https://gmail.com/" class="footer_social_links">
                        <i class="ri-mail-line"></i>
                    </a>
                    <a href="https://youtube.com/" class="footer_social_links">
                        <i class="ri-youtube-line"></i>
                    </a>
                    <a href="https://gitbub.com/" class="footer_social_links">
                        <i class="ri-github-line"></i>
                    </a>
                </div>
                <div class="footer_links_menu">
                    <ul class="footer_links_list">
                        <li class="footer_links_item"><a href="{% url 'homeScreen' %}" class="footer_links_nav">Home</a></li>
                        <li class="footer_links_item"><a href="{% url 'aboutPage' %}" class="footer_links_nav">About</a></li>
                        <li class="footer_links_item"><a href="{% url 'servicePage' %}" class="footer_links_nav">Services</a></li>
                        <li class="footer_links_item"><a href="{% url 'contactPage' %}" class="footer_links_nav">Contact Us</a></li>
                        <li class="footer_links_item"><a href="{% url 'loginPage' %}" class="footer_links_nav">Login</a></li>
                    </ul>
                </div>
                <div class="footer_links_rights">
                    <p class="footer_links_rights_text">&copy; 2024 Hansimes. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>